[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=MTP Target Forever
GenericName=MTP Target Forever
Comment=Multiplayer penguin bowling/curling action game
Exec=mtp-target-forever
Icon=mtp-target-forever
Categories=Game;ArcadeGame;
